.card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 400px;
  min-width: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.card_image {
  border-radius: 30px;
  min-width: 400px;
  min-height: 575px;
}

.category-specification {
  position: absolute;
  font-size: 40px;
  color: antiquewhite;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  font-family: "EB Garamond", serif;
}

@media only screen and (max-width: 1200px) {
  .card {
    scroll-snap-align: start;
    border-radius: 29px;
    min-height: 300px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 29px;
    min-width: 300px;
    min-height: 500px;
  }
}

@media only screen and (max-width: 1100px) {
  .card {
    scroll-snap-align: start;
    border-radius: 28px;
    min-height: 250px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 28px;
    min-width: 250px;
    min-height: 450px;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    scroll-snap-align: start;
    border-radius: 27px;
    min-height: 200px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 27px;
    min-width: 200px;
    min-height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    scroll-snap-align: start;
    border-radius: 26px;
    min-height: 150px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 26px;
    min-width: 150px;
    min-height: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    scroll-snap-align: start;
    border-radius: 25px;
    min-height: 100px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 25px;
    min-width: 100px;
    min-height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    scroll-snap-align: start;
    border-radius: 24px;
    min-height: 95px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 24px;
    min-width: 95px;
    min-height: 250px;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    scroll-snap-align: start;
    border-radius: 23px;
    min-height: 90px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 23px;
    min-width: 90px;
    min-height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    scroll-snap-align: start;
    border-radius: 23px;
    min-height: 80px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 23px;
    min-width: 80px;
    min-height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    scroll-snap-align: start;
    border-radius: 22px;
    min-height: 70px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 22px;
    min-width: 70px;
    min-height: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    scroll-snap-align: start;
    border-radius: 21px;
    min-height: 60px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 21px;
    min-width: 60px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 300px) {
  .card {
    scroll-snap-align: start;
    border-radius: 20px;
    min-height: 50px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .card_image {
    border-radius: 20px;
    min-width: 50x;
    min-height: 70px;
  }
}
